-- CreateTable
CREATE TABLE `Department` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `code` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `Department_name_key`(`name`),
    UNIQUE INDEX `Department_code_key`(`code`),
    INDEX `Department_code_idx`(`code`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ApprovalHierarchy` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `departmentId` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `ApprovalHierarchy_departmentId_idx`(`departmentId`),
    INDEX `ApprovalHierarchy_isActive_idx`(`isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `HierarchyStep` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `hierarchyId` INTEGER NOT NULL,
    `approverId` INTEGER NOT NULL,
    `level` INTEGER NOT NULL,
    `approvalLimitSnapshot` DECIMAL(15, 2) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `HierarchyStep_hierarchyId_idx`(`hierarchyId`),
    INDEX `HierarchyStep_approverId_idx`(`approverId`),
    UNIQUE INDEX `HierarchyStep_hierarchyId_level_key`(`hierarchyId`, `level`),
    UNIQUE INDEX `HierarchyStep_hierarchyId_approverId_key`(`hierarchyId`, `approverId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `User` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `role` ENUM('USER', 'MANAGER', 'FINANCE') NOT NULL DEFAULT 'USER',
    `departmentId` INTEGER NOT NULL,
    `approvalLimit` DECIMAL(15, 2) NOT NULL DEFAULT 0,
    `approvalHierarchyId` INTEGER NULL,
    `hierarchyLevel` INTEGER NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `deletedAt` DATETIME(3) NULL,

    UNIQUE INDEX `User_email_key`(`email`),
    INDEX `User_email_idx`(`email`),
    INDEX `User_role_idx`(`role`),
    INDEX `User_departmentId_idx`(`departmentId`),
    INDEX `User_approvalHierarchyId_idx`(`approvalHierarchyId`),
    INDEX `User_hierarchyLevel_idx`(`hierarchyLevel`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `FundRequest` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `requestNumber` VARCHAR(191) NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `description` TEXT NOT NULL,
    `amount` DECIMAL(15, 2) NOT NULL,
    `purpose` VARCHAR(191) NULL,
    `startDate` DATETIME(3) NULL,
    `endDate` DATETIME(3) NULL,
    `fundUsed` BOOLEAN NOT NULL DEFAULT false,
    `status` ENUM('DRAFT', 'SUBMITTED', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'PENDING_FINANCE_APPROVAL', 'FINANCE_APPROVED', 'FINANCE_REJECTED', 'NEEDS_REVIEW', 'REJECTED', 'CANCELLED', 'RESUBMITTED') NOT NULL DEFAULT 'DRAFT',
    `createdById` INTEGER NOT NULL,
    `hierarchyId` INTEGER NULL,
    `requesterLevel` INTEGER NULL,
    `bypassedToFinance` BOOLEAN NOT NULL DEFAULT false,
    `currentLevel` INTEGER NOT NULL DEFAULT 0,
    `totalLevels` INTEGER NOT NULL DEFAULT 0,
    `approvalCycle` INTEGER NOT NULL DEFAULT 1,
    `submittedAt` DATETIME(3) NULL,
    `completedAt` DATETIME(3) NULL,
    `viewedByManagerAt` DATETIME(3) NULL,
    `viewedByFinanceAt` DATETIME(3) NULL,
    `isModified` BOOLEAN NOT NULL DEFAULT false,
    `modifiedAt` DATETIME(3) NULL,
    `modifiedCount` INTEGER NOT NULL DEFAULT 0,
    `approvedByUserId` INTEGER NULL,
    `approvedByName` VARCHAR(191) NULL,
    `rejectedByUserId` INTEGER NULL,
    `rejectedByName` VARCHAR(191) NULL,
    `rejectionSource` VARCHAR(191) NULL,
    `isRejectedPermanently` BOOLEAN NOT NULL DEFAULT false,
    `isDeleted` BOOLEAN NOT NULL DEFAULT false,
    `deletedAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `FundRequest_requestNumber_key`(`requestNumber`),
    INDEX `FundRequest_createdById_idx`(`createdById`),
    INDEX `FundRequest_status_idx`(`status`),
    INDEX `FundRequest_requestNumber_idx`(`requestNumber`),
    INDEX `FundRequest_hierarchyId_idx`(`hierarchyId`),
    INDEX `FundRequest_approvalCycle_idx`(`approvalCycle`),
    INDEX `FundRequest_approvedByUserId_idx`(`approvedByUserId`),
    INDEX `FundRequest_rejectedByUserId_idx`(`rejectedByUserId`),
    INDEX `FundRequest_bypassedToFinance_idx`(`bypassedToFinance`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ApprovalStep` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `fundRequestId` INTEGER NOT NULL,
    `approverId` INTEGER NOT NULL,
    `level` INTEGER NOT NULL,
    `cycle` INTEGER NOT NULL DEFAULT 1,
    `status` ENUM('PENDING', 'APPROVED', 'REJECTED', 'SKIPPED', 'INELIGIBLE', 'WAITING') NOT NULL DEFAULT 'PENDING',
    `remarks` TEXT NULL,
    `actionAt` DATETIME(3) NULL,
    `isEligible` BOOLEAN NOT NULL DEFAULT true,
    `ineligibleReason` ENUM('LIMIT_TOO_LOW', 'LEVEL_TOO_LOW') NULL,
    `approvalLimitAtTime` DECIMAL(15, 2) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `ApprovalStep_fundRequestId_idx`(`fundRequestId`),
    INDEX `ApprovalStep_approverId_idx`(`approverId`),
    INDEX `ApprovalStep_status_idx`(`status`),
    INDEX `ApprovalStep_cycle_idx`(`cycle`),
    INDEX `ApprovalStep_fundRequestId_cycle_idx`(`fundRequestId`, `cycle`),
    INDEX `ApprovalStep_approverId_status_idx`(`approverId`, `status`),
    INDEX `ApprovalStep_isEligible_status_idx`(`isEligible`, `status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `FinanceReview` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `fundRequestId` INTEGER NOT NULL,
    `reviewedById` INTEGER NOT NULL,
    `action` ENUM('APPROVED', 'REJECTED') NOT NULL,
    `remarks` TEXT NULL,
    `reviewedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `FinanceReview_fundRequestId_idx`(`fundRequestId`),
    INDEX `FinanceReview_reviewedById_idx`(`reviewedById`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Attachment` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `fundRequestId` INTEGER NOT NULL,
    `fileName` VARCHAR(191) NOT NULL,
    `originalName` VARCHAR(191) NOT NULL,
    `fileType` VARCHAR(191) NOT NULL,
    `fileSize` INTEGER NOT NULL,
    `filePath` VARCHAR(191) NOT NULL,
    `isDeleted` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `Attachment_fundRequestId_idx`(`fundRequestId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Notification` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NOT NULL,
    `fundRequestId` INTEGER NULL,
    `type` ENUM('APPROVAL_REQUIRED', 'REQUEST_APPROVED', 'REQUEST_REJECTED', 'FINANCE_REVIEW', 'STATUS_UPDATE', 'NEEDS_REVIEW') NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `message` TEXT NOT NULL,
    `isRead` BOOLEAN NOT NULL DEFAULT false,
    `readAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `Notification_userId_isRead_idx`(`userId`, `isRead`),
    INDEX `Notification_fundRequestId_idx`(`fundRequestId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `WorkflowHistory` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `fundRequestId` INTEGER NOT NULL,
    `actorId` INTEGER NOT NULL,
    `actorRole` VARCHAR(191) NOT NULL,
    `action` VARCHAR(191) NOT NULL,
    `fromStatus` ENUM('DRAFT', 'SUBMITTED', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'PENDING_FINANCE_APPROVAL', 'FINANCE_APPROVED', 'FINANCE_REJECTED', 'NEEDS_REVIEW', 'REJECTED', 'CANCELLED', 'RESUBMITTED') NULL,
    `toStatus` ENUM('DRAFT', 'SUBMITTED', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'PENDING_FINANCE_APPROVAL', 'FINANCE_APPROVED', 'FINANCE_REJECTED', 'NEEDS_REVIEW', 'REJECTED', 'CANCELLED', 'RESUBMITTED') NULL,
    `remarks` TEXT NULL,
    `approvalCycle` INTEGER NOT NULL DEFAULT 1,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `WorkflowHistory_fundRequestId_idx`(`fundRequestId`),
    INDEX `WorkflowHistory_actorId_idx`(`actorId`),
    INDEX `WorkflowHistory_approvalCycle_idx`(`approvalCycle`),
    INDEX `WorkflowHistory_fundRequestId_approvalCycle_idx`(`fundRequestId`, `approvalCycle`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `LoginHistory` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NULL,
    `email` VARCHAR(191) NOT NULL,
    `action` VARCHAR(191) NOT NULL,
    `ipAddress` VARCHAR(191) NULL,
    `userAgent` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `LoginHistory_userId_idx`(`userId`),
    INDEX `LoginHistory_email_idx`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `OTPToken` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NOT NULL,
    `token` VARCHAR(200) NOT NULL,
    `expiresAt` DATETIME(3) NOT NULL,
    `isUsed` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `OTPToken_userId_idx`(`userId`),
    INDEX `OTPToken_isUsed_idx`(`isUsed`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `ApprovalHierarchy` ADD CONSTRAINT `ApprovalHierarchy_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `Department`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `HierarchyStep` ADD CONSTRAINT `HierarchyStep_hierarchyId_fkey` FOREIGN KEY (`hierarchyId`) REFERENCES `ApprovalHierarchy`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `HierarchyStep` ADD CONSTRAINT `HierarchyStep_approverId_fkey` FOREIGN KEY (`approverId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `User` ADD CONSTRAINT `User_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `Department`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `User` ADD CONSTRAINT `User_approvalHierarchyId_fkey` FOREIGN KEY (`approvalHierarchyId`) REFERENCES `ApprovalHierarchy`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `FundRequest` ADD CONSTRAINT `FundRequest_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ApprovalStep` ADD CONSTRAINT `ApprovalStep_fundRequestId_fkey` FOREIGN KEY (`fundRequestId`) REFERENCES `FundRequest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ApprovalStep` ADD CONSTRAINT `ApprovalStep_approverId_fkey` FOREIGN KEY (`approverId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `FinanceReview` ADD CONSTRAINT `FinanceReview_fundRequestId_fkey` FOREIGN KEY (`fundRequestId`) REFERENCES `FundRequest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `FinanceReview` ADD CONSTRAINT `FinanceReview_reviewedById_fkey` FOREIGN KEY (`reviewedById`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Attachment` ADD CONSTRAINT `Attachment_fundRequestId_fkey` FOREIGN KEY (`fundRequestId`) REFERENCES `FundRequest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Notification` ADD CONSTRAINT `Notification_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Notification` ADD CONSTRAINT `Notification_fundRequestId_fkey` FOREIGN KEY (`fundRequestId`) REFERENCES `FundRequest`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `WorkflowHistory` ADD CONSTRAINT `WorkflowHistory_fundRequestId_fkey` FOREIGN KEY (`fundRequestId`) REFERENCES `FundRequest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `WorkflowHistory` ADD CONSTRAINT `WorkflowHistory_actorId_fkey` FOREIGN KEY (`actorId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `LoginHistory` ADD CONSTRAINT `LoginHistory_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

